@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.header {

background-color: #f54242;
color: white;
height: 80px;
text-align: center;
line-height: 80px;
background-image: url('https://i09.kanobu.ru/r/45726198c85aaa104031da156cd9df3a/1040x700/u.kanobu.ru/editor/images/30/77a501f4-cee6-4cd7-8e2a-f7ef126e5a90.jpg');
background-size: 10%;

}


.footer {

background-color: #f94654;
color: white;
height: 80px;
text-align: center;
line-height: 80px;


}



.content {

background-color: #f62256;
color: white;
margin: 0 auto;
text-align: center;
box-shadow: 3px 7px 15px black;
background-image: url('https://i09.kanobu.ru/r/45726198c85aaa104031da156cd9df3a/1040x700/u.kanobu.ru/editor/images/30/77a501f4-cee6-4cd7-8e2a-f7ef126e5a90.jpg');
background-size: 99%;
}

.posts  {

display: flex;
}

.box {

background-color: black;
padding: 15px;
margin: 10px;
border: 2px solid white;
box-shadow: 3px 7px 15px black;
flex-grow: 1;


}

.box img {

width: 100%;
border: 5px solid width;
box-shadow: 3px 7px 15px black;
max-width: 300px;
max-height: 350px;

}

.flleft {

float: left;

}

.box h2 {


color: green;


}

.menu  {

background-color: black 

}

.menu ul {
list-style: none;
color: white;
text-align: center;
}

.menu li {
display: inline-block;
padding: 25px 50px; 

}

.menu li:hover {
background-color: white;
color: black;
}


.menu a {	
color: white;
}






















































































